body {
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

#cells-canvas {
	margin: 10px;
	margin-bottom: 20px;
}


div#control-panel {
	/* margin: 0 auto; */ /* não funciona */
	text-align: center;
	vertical-align: center;
}

div#control-panel button {
	font-family: 'Courier New', Courier, monospace;
	outline: none;
	background: white;
}

table {
	border: 1px solid black !important;
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	width: 12px;
	height: 12px;
	color: black;
	border: 1px solid rgba(0, 0, 0, .5);
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;

	text-align: center;
	vertical-align: center;

	position: relative;
}

div.cell-index {
	color: grey;

	display: inline-block;
	position: absolute;

	font-size: 7px;
	top: 3px;
	right: 3px;
}

.alive {
	background: black;
}

.dead {
	background: white;
}

div.hidden {
	display: none;
}



