body {
	margin: 0;
	padding: 0;
}

#land-canvas {
	margin: 10px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	width: 32px;
	height: 32px;
	color: white;
	border: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
}


